.fixed-top .container-fluid .navbar-toggler{
    display: none;
}

#offcanvasNavbarLabel{
    color: rgb(255,255,255);
}

.desktop-links a{
    margin-right: 1.5rem;
}

.desktop-links button {
    margin-right: 1.5rem;
}

nav {
    background-color: rgb(255, 255, 255);
}


/* eagle image at the front of the soaring youth  */
.navbar img{
    width: 2rem;
}
/*  */

.navbar  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navbar a:hover{
    color: rgb(11, 135, 237);
}

/* body */
body{
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.7)),
    url(./images/christlove.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100vh;
}

header {
    margin-top: 3.5rem;
    padding-bottom: 8rem;
}

header h3{
    color: rgb(255,255,255);
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 2rem;
    position: fixed;
    text-align: center;
    width: 100%;
    margin-top: 2rem;
    
}

article{
    color: rgb(255,255,255);
}

article .prayers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
}


article .prayer{
    background-color: rgba(59, 123 ,167, 0.6);
    border-radius: 1rem;
    color: rgb(255,255,255);
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
}





/* mobile and tab view */
@media (max-width: 767px) {
   
    .fixed-top .container-fluid .navbar-toggler{
        display: initial;
    }
    
    .desktop-links{
        display: none;
    }
    
    .container-fluid a{
        color: rgb(255,255,255);
        /* font-family: 'Playball', cursive; */
    }

    nav {
        background-color: rgba(73,73,73,0.9);
        
    }

    /* church logo at the top */
    .navbar .navbar-brand img{
    border-radius: 50%;
    }
    /*  */

    .navbar .offcanvas, .dropdown-menu{
        background-color: rgba(59, 123 ,167, 0.6);
    }

    .navbar-toggler .navbar-toggler-icon, .btn-close{
        background-color: rgb(255,255,255);
    }

    /*  */
     .navbar img{
        width: 2rem;
    }
    /*  */

    body{
        background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.8)),
        url(./images/christlove.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
    }

    header{
        margin-top: 1.5rem;
        padding-bottom: 6rem;
    }



    header h3{
        position: fixed;
        background-color: rgba(255,255,255, 0.9);
        color: rgb(0, 0, 0);
        padding: 1rem;
        font-family: 'Kaushan Script', cursive;
    }

article .prayers{
    display: initial;
}


    article .prayer{
        background-color: rgba(59, 123 ,167, 0.6);
        border-radius: 1rem;
        color: rgb(255,255,255);
        width: 90%;
        text-align: center;
        margin: auto;
        padding: 1rem;
        margin-bottom: 2rem;
    }

    article .prayers{
        padding-bottom: 0;
    }

}